* {
    margin: 0;

}
body{
    background: url('image.png');
    background-repeat: no-repeat ;
    background-position: center;
    /* TRY TO USE the background attachment fixed or not
    That depends on your choice.
    */
    /* background-attachment: fixed; */
    background-size: cover;
    height: 100%;
    font-family: fantasy;
 }


#logo{
    margin: 1px;
    padding: 3px;
    font-family:  fantasy ;
    width: 16%;
    border-radius: 10%
    
    
}
#logo{
    font-size: 250%;
    
}

cite > a {
    display: inline-block;
    width: 100px;
    height: 50px;
    
} 

ul {
margin: 0px; 
}

body > header {
    margin: auto;
    background-color: tomato;
    color: aq;
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-around ;
    flex-direction: row;

}

#nav-ul{
    display: flex;
}
#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
color: white;
text-decoration: none;
padding: 12px;
border: 1px solid white;
border-radius: 20%; 
}

body > main article {
    width:60%;
    margin: auto;
    color: honeydew;
    border-color: aqua;
   justify-content: space-around;
    

   
      
}

#main-content{
    display: flex;
    justify-content: space around ;

}

#main-content > div {
width:70%;

}

form {
text-align: center;
color: aliceblue;
}

h2 {
  text-align: center;
  color: aliceblue;

}

body > footer{
    background-color: tomato;
    display: flex;
    

}

img {
    border-radius: 50%;
}
#footer-ul > div >li {
    margin-left:12px ;
}

#footer-ul {
    display:flex;
    list-style: none;
}
#footer-ul > div > li {
    margin-left: 12px;
  
}
#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
} 

h5 {
    color: aliceblue;
}


/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

